body {
  background-color: #fdfdfd;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", sans-serif;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.tab {
  height: 80px;
}

.inactive {
  background-color: #0a0a0a;
  color: #fdfdfd;
}

.main {
  border-width: 570px;
}

.sub {
  border-width: 398px;
}
