body {
  background-color: #fdfdfd;
  font-family: "Verdana";
  text-align: center;
}

.tab {
  height: 50px;
  line-height: 50px;
}

.active {
  background-color: #fdfdfd;
  color: #0a0a0a;
}

.inactive {
  background-color: #0a0a0a;
  color: #fdfdfd;
}

.main {
  padding-left: 216.7px;
  padding-right: 216.7px;
  border-color: 3px solid #ff00ff;
}

.sub {
  width: 398px;
  font-size: 30px;
  font-weight: normal;
}
